<div id="header" class="container-fluid">
    <%- include('./blocks/navbar.ejs') %>
</div>
<div id="main-section">
    <%- include('./blocks/map_live_chart') %>
        <%- include('./blocks/thresholds_static_chart') %>
            <%- include('./blocks/table') %>
</div>
<div id="footer" class="container-fluid">

</div>