<div id="map-live-chart">
    <div id="map-container">
        <div id="mapid">
        </div>
        <div id="container-modal">

        </div>
    </div>
    <div id="container-live-chart">
        
    </div>
</div>